@charset "UTF-8";

h3{
    font-family: Arial, Helvetica, sans-serif;
}
.fracture_display
{
    margin: auto;
    font-weight: bold;
}
body{
    background-color: #e8e8e8;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#choice{
    text-align: center;
    padding-top: 10rem;
    flex: 1;
}

#login{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    flex: 1;
}

.cred_input input{
    background-color: #F3E8DF;
    border: 1px solid #c99973;
    border-radius: 5px;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0.5rem 0.7rem;
    width: 30rem;
    margin-bottom: 2rem;
    text-align: center;
}

#login button{
    margin-top: 2rem;
}

#diff_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

#diff_btn button{
    margin-bottom: 1.2rem;
    background-color: #F3E8DF;
    border: 1px solid #c99973;
    border-radius: 5px;
    height: 3rem;
    font-size: 1.5rem;
    width: 30rem;
    justify-items: center;
    padding: 0.2rem 0.6rem;
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bg-cream{
    background-color: #e2e0d4;
}

.bg-orange{
    background-color: #FF9A00;
}
.bg-christmas{
    background-image: url("/static/images/christmas_greeting_card.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-purepink{
    background-color: #e7cac2;
}

.text-blue{
    color: #002569;
}

.text-orange{
    color: #FF9A00;
}

.text-purepink{
    color:  #959595;
}

.border-offpink{
    border-color: #cebeb9 !important;
}

.page-1{
    height: 100vh;
    width: 100vw ;
    background-image: url(./images/bg_airplane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.page-2{
    width: 100vw;
    min-height: fit-content !important;
    position: relative;
}

.page-3{
    width: 100vw;
    min-height: fit-content !important;
}

.btm-nav-container{
    padding-left: 20px;
    padding-right: 20px;
}

.font-tnr{
    font-family: "Times New Roman", Times, serif;
}

.socials{
    background-color: #133257;
    width: 100vw;
}

.footer{
    width: 100vw;
}

.footer_logo{
    width: 100vw;
    height: 50px;
    background-color: #F3E8DF;
}

#display{
    display: flex;
    flex-grow: 1;
}
#leaderboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

#leaderboard table{
    margin: 1.5rem 5rem;
    width: 60%;
    text-align: center;
    font-size: 1.3rem;
    max-height: 70vh;
}

#leaderboard th{
    font-size: 1.5rem;
    background-color: #c99973;
}

#leaderboard tr:nth-child(odd){
    background-color: #f3d5bd;
}

#leaderboard tr:nth-child(even){
    background-color: #F3E8DF;
}


.nav_btn a{
    text-decoration: none;
}

.home{
    margin-right: 2rem;
}

.leaderboard{
    margin-right: 2rem;
}

@media (min-width: 576px) {
    .christmas_card{
        width: 75% !important;
    }
}

@media (max-width: 576px) {
    h1.resize_text{
        font-size: medium !important;
    }
    h2.resize_text{
        font-size: small !important;
    }
    h3.resize_text{
        font-size: smaller !important;
    }
    p.resize_text{
        font-size: smaller !important;
    }
    div.resize_text{
        font-size: smaller !important;
    }
    span.resize_text{
        font-size: smaller !important;
    }
    .resize_img{
        width: 75% !important;
    }
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}
